@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>*@
    }
        
    <ul class="nav navbar-nav navbar-right">
        @Html.Partial("_CartNav")
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span><span class="hidden-lg hidden-md hidden-sm"> User</span><span class="caret"></span></a>
            <ul class="dropdown-menu navbar-dropdown">
                <li><a href=@Url.Action("Index", "ShoppingCart")><span class="fa fa-list-alt icon-left-menu"></span><span>Lists</span></a></li>
                <li><a href="/Account/Manage"><span class="fa fa-cog icon-left-menu"></span><span>Account</span></a></li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-lock icon-left-menu"></span><span>Log Out</span></a></li>
            </ul>
        </li>
    </ul>    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}

